<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Hexatomic Target Platform Definition" sequenceNumber="1732706685">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.stripped.feature.group" version="21.0.5.v20241023-1957"/>
      <repository location="https://download.eclipse.org/justj/jres/21/updates/release/21.0.5"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.7.200.v20240515-1919"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.1200.v20240524-2033"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.32.0.v20240601-0610"/>
      <unit id="org.eclipse.zest.sdk.feature.group" version="3.20.0.202405290843"/>
      <unit id="slf4j.api" version="2.0.13"/>
      <unit id="org.apache.aries.spifly.dynamic.bundle" version="1.3.7"/>
      <unit id="ch.qos.logback.classic" version="1.5.6"/>
      <unit id="junit-jupiter-api" version="5.10.2"/>
      <unit id="org.hamcrest" version="2.2.0"/>
      <unit id="org.antlr.runtime" version="4.7.2.v20221112-0806"/>
      <unit id="jakarta.servlet-api" version="6.0.0"/>
      <unit id="jakarta.inject.jakarta.inject-api" version="2.0.1"/>
      <unit id="jakarta.annotation-api" version="2.1.1"/>
      <unit id="com.google.guava" version="33.2.0.jre"/>
      <unit id="org.apache.commons.lang3" version="3.14.0"/>
      <repository location="https://download.eclipse.org/releases/2024-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mockito.mockito-core" version="5.12.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2024-06"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core" version="2.4.0.202405230453"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.e4" version="2.4.0.202405230453"/>
      <repository location="https://download.eclipse.org/nattable/releases/2.4.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.chips" version="1.0.0.202312260654"/>
      <repository location="https://archive.eclipse.org/nebula/releases/3.1.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.2.1.202406141605"/>
      <unit id="org.eclipse.swtbot.nebula.nattable.feature.group" version="4.2.1.202406141605"/>
      <repository location="https://download.eclipse.org/technology/swtbot/releases/4.2.1/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.corpus-tools.pepper-framework" version="3.7.0"/>
      <repository location="https://korpling.github.io/pepper/p2/3.7/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.corpus-tools.salt-api" version="3.4.3"/>
      <unit id="org.corpus-tools.salt-extensions" version="3.4.3"/>
      <repository location="https://korpling.github.io/salt/p2/salt-3.4/"/>
    </location>
  </locations>
</target>
