<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="Hexatomic Target Platform Definition" sequenceNumber="1677614120">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="17.0.6.v20230204-1729"/>
      <repository location="https://download.eclipse.org/justj/jres/17/updates/release/latest"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core" version="1.6.0.201909181823"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.e4" version="1.2.0.201909181823"/>
      <repository location="https://download.eclipse.org/nattable/releases/1.6.0/repository/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.chips" version="1.0.0.202106201019"/>
      <repository location="https://download.eclipse.org/nebula/releases/2.5.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/technology/swtbot/releases/4.0.0/"/>
	    <unit id="org.eclipse.swtbot.nebula.nattable.feature.group" version="4.0.0.202206011610"/>
    </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/releases/2022-12/"/>
		  <unit id="org.eclipse.zest.sdk.feature.group" version="3.15.0.202211301913"/>
		  <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.600.v20221116-1440"/>
		  <unit id="org.eclipse.sdk.feature.group" version="4.26.0.v20221123-2302"/>
		  <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.0.0.202206011610"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/tools/orbit/downloads/2022-12/"/>
		  <unit id="org.hamcrest" version="2.2.0.v20210711-0821"/>
		  <unit id="org.mockito.junit-jupiter" version="4.8.1.v20221103-2317"/>
		  <unit id="org.mockito.mockito-core" version="4.8.1.v20221103-2317"/>
		  <unit id="ch.qos.logback.classic" version="1.2.3.v20221112-0806"/>
		  <unit id="ch.qos.logback.slf4j" version="1.2.3.v20221112-0806"/>
		  <unit id="org.antlr.runtime" version="4.7.2.v20221112-0806"/>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.corpus-tools</groupId>
				  <artifactId>salt-api</artifactId>
				  <version>3.4.2</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.corpus-tools</groupId>
				  <artifactId>salt-extensions</artifactId>
				  <version>3.4.2</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.corpus-tools</groupId>
				  <artifactId>pepper-framework</artifactId>
				  <version>3.6.0</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
  </locations>
</target>