<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="Hexatomic Target Platform Definition" sequenceNumber="1677614120">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="17.0.6.v20230204-1729"/>
      <repository location="https://download.eclipse.org/justj/jres/17/updates/release/latest"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core" version="1.6.0.201909181823"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.e4" version="1.2.0.201909181823"/>
      <repository location="http://download.eclipse.org/nattable/releases/1.6.0/repository/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.chips" version="1.0.0.202106201019"/>
      <repository location="http://download.eclipse.org/nebula/releases/2.5.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/technology/swtbot/releases/4.0.0/"/>
	    <unit id="org.eclipse.swtbot.nebula.nattable.feature.group" version="4.0.0.202206011610"/>
    </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="http://download.eclipse.org/releases/2022-12/"/>
		  <unit id="org.eclipse.gef.zest.sdk.feature.group" version="5.1.2.202209120200"/>
		  <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.0.0.202206011610"/>
		  <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="4.0.0.202206011610"/>
		  <unit id="org.eclipse.swtbot.feature.group" version="4.0.0.202206011610"/>
		  <unit id="org.eclipse.swtbot.ide.feature.group" version="4.0.0.202206011610"/>
		  <unit id="org.eclipse.zest.sdk.feature.group" version="3.15.0.202211301913"/>
		  <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.600.v20221116-1440"/>
		  <unit id="org.eclipse.sdk.feature.group" version="4.26.0.v20221123-2302"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/tools/orbit/downloads/2022-12/"/>
		  <unit id="org.hamcrest" version="2.2.0.v20210711-0821"/>
		  <unit id="ch.qos.logback.classic" version="1.2.3.v20221112-0806"/>
		  <unit id="ch.qos.logback.classic.source" version="1.2.3.v20221112-0806"/>
		  <unit id="ch.qos.logback.core" version="1.2.3.v20221112-0806"/>
		  <unit id="ch.qos.logback.core.source" version="1.2.3.v20221112-0806"/>
		  <unit id="ch.qos.logback.slf4j" version="1.2.3.v20221112-0806"/>
		  <unit id="ch.qos.logback.slf4j.source" version="1.2.3.v20221112-0806"/>
		  <unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
		  <unit id="org.apache.commons.logging.source" version="1.2.0.v20180409-1502"/>
		  <unit id="org.apache.log4j" version="1.2.19.v20220208-1728"/>
		  <unit id="org.apache.log4j.source" version="1.2.19.v20220208-1728"/>
		  <unit id="org.apache.logging.log4j" version="2.17.1.v20220106-2156"/>
		  <unit id="org.apache.logging.log4j.source" version="2.17.1.v20220106-2156"/>
		  <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
		  <unit id="org.hamcrest.core.source" version="1.3.0.v20180420-1519"/>
		  <unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
		  <unit id="org.hamcrest.library.source" version="1.3.0.v20180524-2246"/>
		  <unit id="org.hamcrest.source" version="2.2.0.v20210711-0821"/>
		  <unit id="org.jboss.logging" version="3.3.2.v20221112-0806"/>
		  <unit id="org.jboss.logging.source" version="3.3.2.v20221112-0806"/>
		  <unit id="org.junit" version="4.13.2.v20211018-1956"/>
		  <unit id="org.junit.jupiter.api" version="5.9.1.v20221103-2317"/>
		  <unit id="org.junit.jupiter.api.source" version="5.9.1.v20221103-2317"/>
		  <unit id="org.junit.jupiter.engine" version="5.9.1.v20221103-2317"/>
		  <unit id="org.junit.jupiter.engine.source" version="5.9.1.v20221103-2317"/>
		  <unit id="org.junit.jupiter.migrationsupport" version="5.9.1.v20221103-2317"/>
		  <unit id="org.junit.jupiter.migrationsupport.source" version="5.9.1.v20221103-2317"/>
		  <unit id="org.junit.jupiter.params" version="5.9.1.v20221103-2317"/>
		  <unit id="org.junit.jupiter.params.source" version="5.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.commons" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.commons.source" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.engine" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.engine.source" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.launcher" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.launcher.source" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.runner" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.runner.source" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.suite.api" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.suite.api.source" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.suite.commons" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.suite.commons.source" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.suite.engine" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.platform.suite.engine.source" version="1.9.1.v20221103-2317"/>
		  <unit id="org.junit.source" version="4.13.2.v20211018-1956"/>
		  <unit id="org.junit.vintage.engine" version="5.9.1.v20221103-2317"/>
		  <unit id="org.junit.vintage.engine.source" version="5.9.1.v20221103-2317"/>
		  <unit id="org.mockito.junit-jupiter" version="4.8.1.v20221103-2317"/>
		  <unit id="org.mockito.junit-jupiter.source" version="4.8.1.v20221103-2317"/>
		  <unit id="org.mockito.mockito-core" version="4.8.1.v20221103-2317"/>
		  <unit id="org.mockito.mockito-core.source" version="4.8.1.v20221103-2317"/>
		  <unit id="org.slf4j.api" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.api.source" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.apis.jcl" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.apis.jcl.source" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.apis.log4j" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.apis.log4j.source" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.binding.log4j12" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.binding.log4j12.source" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.binding.nop" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.binding.nop.source" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.binding.simple" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.binding.simple.source" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.bridge.jul" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.bridge.jul.source" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.ext" version="1.7.30.v20221112-0806"/>
		  <unit id="org.slf4j.ext.source" version="1.7.30.v20221112-0806"/>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.corpus-tools</groupId>
				  <artifactId>salt-api</artifactId>
				  <version>3.4.2</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.corpus-tools</groupId>
				  <artifactId>salt-extensions</artifactId>
				  <version>3.4.2</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.corpus-tools</groupId>
				  <artifactId>pepper-framework</artifactId>
				  <version>3.6.0</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
  </locations>
</target>